/* First wave */
.waveCanvas1 {
    position: absolute;
    animation: waveCanvas1 ease-in-out 3.4s forwards;
}

@keyframes waveCanvas1 {
    0% {
        z-index: 1;
        top: -90%;
    }

    50% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

/* Second wave */
.waveCanvas2 {
    position: absolute;
    animation: waveCanvas2 ease-in-out 3.2s forwards;
}

@keyframes waveCanvas2 {
    0% {
        z-index: 1;
        top: -90%;
    }

    50% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

/* Third wave */
.waveCanvas3 {
    position: absolute;
    animation: waveCanvas3 ease-in-out 3s forwards;
}

@keyframes waveCanvas3 {
    0% {
        z-index: 1;
        top: -90%;
    }

    50% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

/* Name animation */
.name {
    animation: namepop ease-in-out 0.5s 3s forwards;
}

@keyframes namepop {
    0% {
        font-size: 0px;
    }

    50% {
        font-size: 50px;
    }

    100% {
        font-size: 40px;
    }
}

/* Introduction animation */
.introduction {
    opacity: 0;
    animation: introAppearance ease-in-out 0.5s 2.9s forwards;
}

@keyframes introAppearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}